.additional-list {
  display: none;
  list-style: none;
}

@media (min-width: $desktop-width) {
  .additional-list {
    display: flex;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    order: 3;
    min-width: 500px;
  }

  .additional-list__link {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
  }
}
