.additional-list {
  display: none;
}

.additional-list__item:hover {
  opacity: 0.6;
}

.additional-list__item:active {
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .additional-list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    margin-top: 19px;
    padding: 0;
    padding-left: 50px;
    order: 2;
    max-width: 600px;
  }

  .additional-list__item {
    margin-bottom: 19px;
  }


  .additional-list__link {
    color: #000;
    text-decoration: none;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 62px;
  }
}
