.button {
  font-family: inherit;
  font-weight: 700;
  padding: 14px 18px;
  box-sizing: border-box;
  border: 2px solid rgba(68, 68, 68, 1);
  text-decoration: none;
  cursor: pointer;
  color: rgba(68, 68, 68, 1);
  background: #ffffff;
  text-align: center;
}
