.catalog-cards {
  position: relative;
  min-height: 175px;
  box-sizing: border-box;
  padding: 73px 0;
  background-color: #f1f1f1;
  color: #000000;
}

.catalog-cards__title {
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
