.catalog-filter {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.catalog-filter__fieldset {
  border: none;
  margin: 0 auto;
  max-width: 1050px;
  padding-left: 30px;
  padding-right: 30px;
}

.catalog-filter__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: rgba(99, 209, 187, 1);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.catalog-filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter__control-label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.catalog-filter__require {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
}

.catalog-filter__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.catalog-filter__button {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: hsl(0, 0%, 27%);
}

.catalog-filter__inner {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .catalog-filter__wrapper:nth-child(2n) {
    background-color: hsl(0, 0%, 95%);
  }

  .catalog-filter__fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
  }

  .catalog-filter__title {
    grid-column: 1/2;
  }

  .catalog-filter__list {
    grid-column: 2/4;
  }

  .catalog-filter__color:nth-child(2n+1) {
    grid-column: 3/4;
  }

  .catalog-filter__color:nth-child(2n) {
    grid-column: 2/3;
  }

  .catalog-filter__name {
    grid-column: 2/-1;
  }

  .catalog-filter__surname {
    grid-column: 2/-1;
  }

  .catalog-filter__patronymic {
    grid-column: 2/-1;
  }

  .catalog-filter__phone-number {
    grid-column: 2/4;
  }

  .catalog-filter__email-text {
    grid-column: 2/4;
  }

  .catalog-filter__message-text {
    grid-column: 2/4;
  }

  .catalog-filter__inner {
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
  }

  .catalog-filter__require {
    grid-column: 2/3;
    text-align: end;
  }

  .catalog-filter__button {
    grid-column: 1/2;
  }
}

@media (min-width: 1150px) {
  .catalog-filter__fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .catalog-filter__list {
    grid-column: 2/-1;
  }

  .catalog-filter__color:nth-child(3n+1) {
    grid-column: 4/5;
  }

  .catalog-filter__color:nth-child(3n) {
    grid-column: 3/4;
  }

  .catalog-filter__color:nth-child(3n+2) {
    grid-column: 2/3;
  }

  .catalog-filter__phone-number {
    grid-column: 2/-1;
  }

  .catalog-filter__email-text {
    grid-column: 2/-1;
  }

  .catalog-filter__message-text {
    grid-column: 2/-1;
  }

  .catalog-filter__inner {
    min-width: 1050px;
  }
}
