.catalog-filter {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.catalog-filter__fieldset {
  border: none;
  position: relative;
  margin: 0 30px 41px;
  max-width: 1050px;
  padding: 0;
}

.catalog-filter__divider {
  border-top: solid 1px #61d1bb;
}

.catalog-filter__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: rgba(99, 209, 187, 1);
  margin: 0 0 20px 0;
  padding: 0 22px 0 0;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  top: -10px;
}

.catalog-filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.catalog-filter__radio {
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: 36px;
  align-items: center;
}

.catalog-filter__checkbox,
.catalog-filter__radio {
  padding-left: 61px;
  display: flex;
  position: relative;
}

.catalog-filter__wrapper--radio .catalog-filter__item:not(:last-child) {
  margin-bottom: 12px;
}

.catalog-filter__checkbox {
  padding-top: 10px;
  padding-bottom: 23px;
}

.catalog-filter__wrapper--checkbox .catalog-filter__title {
  margin-bottom: 14px;
}

.catalog-filter__wrapper--checkbox .catalog-filter__item:not(:last-child) {
  margin-bottom: 23px;
}

.catalog-filter__control-mark {
  position: absolute;
  width: 36px;
  height: 36px;
  border: 2px solid #444444;
  border-radius: 50%;
  left: 0;
  top: 0;
}

.catalog-filter__control-input[type="checkbox"] + .catalog-filter__control-mark {
  border-radius: 0;
  width: 34px;
  height: 34px;
}

.catalog-filter__radio:hover .catalog-filter__control-mark {
  border-color: hsl(168, 55%, 60%);
}

.catalog-filter__control-input:focus + .catalog-filter__control-mark {
  outline: 3px solid #83b3d3;
}

.catalog-filter__checkbox:hover .catalog-filter__control-mark {
  border-color: hsl(168, 55%, 60%);
}

.catalog-filter__radio:active .catalog-filter__control-mark {
  border-color: rgba(0, 0, 0, 0.3);
}

.catalog-filter__checkbox:active .catalog-filter__control-mark {
  border-color: rgba(0, 0, 0, 0.3);
}

.catalog-filter__control-input[type="radio"]:checked + .catalog-filter__control-mark::before {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  background-color: hsl(168, 55%, 60%);
  border-radius: 50%;
  content: "";
}

.catalog-filter__control-input[type="checkbox"]:checked + .catalog-filter__control-mark::before {
  position: absolute;
  top: 14px;
  left: 9px;
  width: 2px;
  height: 10px;
  transform: rotate(-45deg);
  background-color: #000000;
  content: "";
}

.catalog-filter__control-input[type="checkbox"]:checked + .catalog-filter__control-mark::after {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 2px;
  height: 22px;
  transform: rotate(45deg);
  background-color: #000000;
  content: "";
}

.catalog-filter__control-label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  display: block;
}

.catalog-filter__require {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
}

.catalog-filter__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.catalog-filter__button {
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
  padding: 17px;
  min-width: 260px;
  margin: 0 auto;
}

.catalog-filter__inner {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 55px;
  row-gap: 28px;
}

.catalog-filter__name,
.catalog-filter__surname,
.catalog-filter__patronymic,
.catalog-filter__phone-number,
.catalog-filter__email-text,
.catalog-filter__message-text-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
  position: relative;
}

.catalog-filter__patronymic,
.catalog-filter__email-text {
  margin-bottom: 0;
}

.catalog-filter__phone-number {
  margin-bottom: 4px;
}

.catalog-filter__message-text-wrapper {
  margin: 0;
}

.catalog-filter__wrapper--data .catalog-filter__title {
  margin-bottom: 0;
}

.catalog-filter__wrapper--message .catalog-filter__title {
  margin-bottom: 12px;
}

.catalog-filter__wrapper--message .catalog-filter__fieldset {
  margin-bottom: 16px;
}

.catalog-filter__name-input,
.catalog-filter__surname-input,
.catalog-filter__patronymic-input,
.catalog-filter__phone-number-input,
.catalog-filter__email-text-input,
.catalog-filter__message-text {
  border: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  padding: 0;
  font-family: inherit;
  padding-right: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: inset 0 -2px 0 #000000;
}

.catalog-filter__message-text {
  padding: 17px;
  border: 2px solid #444444;
  box-shadow: none;
  min-height: 106px;
}

.catalog-filter__phone-number-input,
.catalog-filter__email-text-input {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 40px;
}

.catalog-filter__name-input:hover,
.catalog-filter__surname-input:hover,
.catalog-filter__patronymic-input:hover,
.catalog-filter__phone-number-input:hover,
.catalog-filter__email-text-input:hover {
  box-shadow: inset 0 -2px 0 hsl(168, 55%, 60%);
  padding-left: 10px;
  fill: rgba(98, 209, 186, 1);
}

.catalog-filter__message-text:hover {
  border-color: rgba(98, 209, 186, 1);
}

.catalog-filter__message-text:active {
  color: hsl(0, 0%, 0%);
}

.catalog-filter__name-input:active,
.catalog-filter__surname-input:active,
.catalog-filter__patronymic-input:active,
.catalog-filter__phone-number-input:active,
.catalog-filter__email-text-input:active {
  fill: hsl(0, 0%, 27%);
}

.catalog-filter__phone-icon,
.catalog-filter__email-text-icon {
  position: absolute;
  right: 8px;
  top: 6px;
  fill: rgba(0, 0, 0, 1);
}

.catalog-filter__email-text-icon {
  right: 4px;
}

.catalog-filter__phone-number-input:hover + .catalog-filter__phone-icon,
.catalog-filter__email-text-input:hover + .catalog-filter__email-text-icon {
  fill: rgba(98, 209, 186, 1);
}

@media (min-width: $tablet-width) {
  .catalog-filter__wrapper:nth-child(2n) {
    background-color: rgba(241, 241, 241, 1);
  }

  .catalog-filter__fieldset {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin: 0 auto;
  }

  .catalog-filter__wrapper--radio .catalog-filter__fieldset {
    flex-wrap: nowrap;
  }

  .catalog-filter__wrapper--radio .catalog-filter__item:not(:last-child) {
    margin-bottom: 27px;
  }

  .catalog-filter__wrapper--radio .catalog-filter__list {
    display: block;
  }

  .catalog-filter__wrapper--checkbox .catalog-filter__fieldset {
    flex-wrap: nowrap;
    padding-right: 20px;
    padding-bottom: 27px;
  }

  .catalog-filter__radio {
    padding-top: 16px;
    padding-bottom: 16px;
    min-height: 10px;
    padding-left: 78px;
  }

  .catalog-filter__divider {
    border: none;
    margin-top: 14px;
  }

  .catalog-filter__title {
    background-color: inherit;
    top: 0;
    margin: 0;
    padding: 0;
    max-width: 90px;
  }

  .catalog-filter__label {
    font-size: 19px;
    line-height: 18px;
  }

  .catalog-filter__control-mark {
    width: 47px;
    height: 47px;
  }

  .catalog-filter__control-input[type="radio"]:checked + .catalog-filter__control-mark::before {
    top: 14px;
    left: 14px;
    width: 20px;
    height: 20px;
  }

  .catalog-filter__control-input[type="checkbox"]:checked + .catalog-filter__control-mark::before {
    top: 22px;
    left: 14px;
    width: 2px;
    height: 16px;
  }

  .catalog-filter__control-input[type="checkbox"]:checked + .catalog-filter__control-mark::after {
    top: 12px;
    left: 28px;
    width: 2px;
    height: 28px;
  }

  .catalog-filter__control-input[type="checkbox"] + .catalog-filter__control-mark {
    width: 48px;
    height: 48px;
  }

  .catalog-filter__wrapper--checkbox .catalog-filter__item:not(:last-child) {
    margin-bottom: 24px;
    width: 262px;
  }

  .catalog-filter__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 132px;
  }

  .catalog-filter__wrapper--checkbox .catalog-filter__list {
    margin-left: 122px;
    max-width: 700px;
  }

  .catalog-filter__chekbox {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 82px;
    padding-right: 20px;
  }

  .catalog-filter__control-label {
    font-size: 19px;
    line-height: 18px;
  }

  .catalog-filter__name {
    margin-left: 124px;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
  }

  .catalog-filter__wrapper--data {
    padding: 50px;
  }

  .catalog-filter__wrapper--data .catalog-filter__fieldset {
    padding: 0;
  }

  .catalog-filter__name-input,
  .catalog-filter__surname-input,
  .catalog-filter__patronymic-input {
    flex-grow: 1;
    padding-left: 18px;
    padding-top: 13px;
    padding-bottom: 17px;
    margin-left: 24px;
    font-size: 19px;
    line-height: 18px;
  }

  .catalog-filter__name-input:hover,
  .catalog-filter__surname-input:hover,
  .catalog-filter__patronymic-input:hover {
    padding-left: 18px;
  }

  .catalog-filter__phone-number-input,
  .catalog-filter__email-text-input {
    background-color: inherit;
    flex-grow: 1;
    font-size: 19px;
    line-height: 18px;
    padding: 15px 200px 15px 18px;
  }

  .catalog-filter__phone-number-input:hover,
  .catalog-filter__email-text-input:hover {
    padding-left: 17px;
  }

  .catalog-filter__wrapper--message .catalog-filter__fieldset {
    margin-bottom: 4px;
  }

  .catalog-filter__message-text {
    background-color: inherit;
    flex-grow: 1;
    font-size: 19px;
    line-height: 18px;
    padding: 15px;
  }

  .catalog-filter__surname {
    margin-left: 167px;
    flex-grow: 1;
    flex-direction: row;
    margin-bottom: 24px;
    align-items: center;
  }

  .catalog-filter__patronymic {
    margin-left: 167px;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
  }

  .catalog-filter__phone-number {
    margin-left: 134px;
    flex-grow: 1;
    margin-bottom: 24px;
  }

  .catalog-filter__email-text {
    margin-left: 108px;
    flex-grow: 1;
  }

  .catalog-filter__message-text-wrapper {
    margin-left: 128px;
    flex-grow: 1;
  }

  .catalog-filter__inner {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-filter__require {
    text-align: end;
    order: 1;
    font-size: 17px;
    line-height: 30px;
  }

  .catalog-filter__button {
    align-items: flex-start;
    order: 0;
    margin: 0;
    padding: 17px 30px 15px 30px;
    min-width: 230px;
  }

  .catalog-filter__phone-icon,
  .catalog-filter__email-text-icon {
    right: 23px;
    top: 15px;
    color: rgb(0, 0, 0, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .catalog-filter__divider {
    margin-left: 59px;
    margin-top: 19px;
  }

  .catalog-filter__list {
    margin-left: 81px;
  }

  .catalog-filter__wrapper--radio .catalog-filter__fieldset {
    padding-bottom: 52px;
  }

  .catalog-filter__wrapper--checkbox .catalog-filter__fieldset {
    padding: 48px 50px 28px 50px;
  }

  .catalog-filter__wrapper--checkbox .catalog-filter__list {
    max-width: 100%;
    margin-left: 70px;
  }

  .catalog-filter__name,
  .catalog-filter__surname,
  .catalog-filter__patronymic,
  .catalog-filter__phone-number,
  .catalog-filter__email-text,
  .catalog-filter__message-text-wrapper {
    margin-left: 176px;
    margin-right: 175px;
  }

  .catalog-filter__name,
  .catalog-filter__message-text-wrapper {
    margin-left: 78px;
  }

  .catalog-filter__phone-number {
    margin-left: 79px;
  }

  .catalog-filter__email-text {
    margin-left: 56px;
  }

  .catalog-filter__inner {
    padding-left: 0;
    padding-right: 16px;
    padding-bottom: 50px;
  }

  .catalog-filter__inner-wrapper {
    width: 700px;
    margin: 0 auto;
  }

  .catalog-filter__phone-icon {
    right: 10px;
    top: 9px;
  }

  .catalog-filter__email-text-icon {
    right: 6px;
    top: 17px;
  }
}
