// .copyright__link {
//   position: relative;
//   font-size: 19px;
//   line-height: 18px;
//   color: #000000;
//   padding-right: 42px;
//   text-decoration: none;
// }

.copyright__icon {
  fill: rgba(99, 209, 187, 1);
}

.copyright__icon:active {
  opacity: 0.5;
}

.copyright__icon:hover {
  fill: rgba(70, 193, 174, 1);
}
