.copyright {
  padding: 30px 39px;
  border-top: 1px solid #e5e5e5;
}

.copyright__link {
  position: relative;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  padding-right: 42px;
  text-decoration: none;
}

.copyright__icon {
  position: absolute;
  top: -8px;
  right: -11px;
}
