.form-catalog__inner {
  background-color: hsl(0, 0%, 95%);
}

.form-catalog__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  padding-top: 73px;
  padding-bottom: 73px;
  text-align: center;
  max-width: 1150px;
}

.form-catalog__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: rgba(68, 68, 68, 1);
  max-width: 1150px;
  margin: 0 auto;
  padding: 17px 30px 30px 30px;
}

@media (min-width: $tablet-width) {
  .form-catalog__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 101px;
    padding-bottom: 75px;
  }

  .form-catalog__text {
    font-size: 17px;
    line-height: 30px;
    padding: 66px 50px 63px 50px;
  }
}

@media (min-width: $desktop-width) {
  .form-catalog__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 102px;
    padding-bottom: 95px;
  }

  .form-catalog__text {
    font-size: 17px;
    line-height: 30px;
    padding: 115px 225px 63px 225px;
    max-width: 700px;
  }
}
