.form-catalog__inner {
  background-color: rgba(241, 241, 241, 1);
  position: relative;
}

@media (min-width: $tablet-width) {
  .form-catalog__inner::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("/source/img/zigzag-fill-tab.svg");
  }
}

@media (min-width: $desktop-width) {
  .form-catalog__inner::after {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("/source/img/zigzag-fill-tab.svg");
  }
}

.form-catalog__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  padding-top: 73px;
  padding-bottom: 73px;
  text-align: center;
  max-width: 1150px;
  position: relative;
  z-index: 1;
}

.form-catalog__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: rgba(68, 68, 68, 1);
  max-width: 1150px;
  margin: 0 auto;
  padding: 17px 30px 38px 30px;
}

@media (min-width: $tablet-width) {
  .form-catalog__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 101px;
    padding-bottom: 85px;
  }

  .form-catalog__text {
    font-size: 17px;
    line-height: 30px;
    padding: 58px 50px 14px 50px;
  }
}

@media (min-width: $desktop-width) {
  .form-catalog__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .form-catalog__text {
    font-size: 17px;
    line-height: 30px;
    padding: 112px 225px 12px 225px;
    max-width: 700px;
  }
}
