.main-header {
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0 auto;
  width: 320px;
  padding: 0 30px;
}

.main-header__logo {
  margin: 22px 118px 22px 117px;
}

.main-header__logo-image {
  display: block;
  padding: 20px 67px;
}
