.main-footer {
  background-color: rgba(241, 241, 241, 1);
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.main-footer__wrapper {
  max-width: 1050px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

// .main-footer__social-list {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }


.main-footer__logo {
  display: none;
}

.main-footer__logo-icon {
  fill: rgba(0, 0, 0, 1);
}

.main-footer__logo-icon:hover {
  fill: #47c2af;
}

.main-footer__logo-icon:active {
  fill: rgba(71, 194, 175, 0.3);
}

.main-footer__divider {
  width: 100%;
  border-bottom: solid 1px #e6e6e6;
}

.main-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  min-width: 180px;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

@media (min-width: $tablet-width) {
  .main-footer__logo {
    display: block;
    min-width: 120px;
  }

  .main-footer__wrapper {
    justify-content: space-between;
    padding: 50px;
    padding-top: 27px;
    padding-bottom: 20px;
  }

  .main-footer__divider {
    max-width: 150px;
    border-bottom: 0;
  }

  .main-footer__copyright {
    margin-left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    padding-top: 27px;
    padding-bottom: 20px;
  }
}
