.main-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-navigation__toggle {
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 2;
  display: block;
  padding: 0;
  width: 21px;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
  border: 0;
}

.main-navigation__menu {
  padding: 20px 0;
  display: block;
}

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-navigation {
    display: flex;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}
