.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .main-container {
    top: 1px;
  }
}

// .main-container__title {
//   flex-grow: 1;
//   font-weight: 700;
//   font-size: 27px;
//   line-height: 30px;
//   text-align: center;
//   margin: 0 auto;
//   padding-top: 73px;
//   padding-bottom: 96px;
//   padding-left: 30px;
//   padding-right: 30px;
//   min-height: 114px;
//   max-width: 700px;
//   flex-basis: 100%;
// }

// @media (min-width: $desktop-width) {
//   .main-container__title {
//     padding: 157px 225px 355px 225px;
//     font-size: 53px;
//     line-height: 57px;
//   }
// }

// @media (min-width: 768px) {
//   .main-container__title {
//     padding: 104px 50px 358px 50px;
//     font-size: 43px;
//     line-height: 50px;
//   }
// }
