.main-container {
  margin: 0 auto;
  max-width: 1150px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%, cover;
  background-image: url("/source/img/background-mobile.jpg");
}

@media (min-width: $tablet-width) {
  .main-container {
    background-position: top;
    background-size: 100%, cover;
    background-image: url("/source/img/background-tablet.jpg");
  }
}

@media (min-width: $desktop-width) {
  .main-container {
    background-position: top;
    background-size: 100%, cover;
    background-image: url("/source/img/background-desktop.jpg");
  }
}

.main-container__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 73px 30px 120px 30px;
}

@media (min-width: $tablet-width) {
  .main-container__title {
    padding: 155px 50px 372px 50px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .main-container__title {
    padding: 157px 225px 355px 225px;
    font-size: 53px;
    line-height: 57px;
  }
}
