.main-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: 0 1px 0 hsl(0, 0%, 93%), inset 0 1px 0 hsl(0, 0%, 93%);
}

.main-navigation__toggle {
  position: absolute;
  top: 29px;
  right: 30px;
  z-index: 2;
  width: 25px;
  height: 25px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  height: 2px;
  width: 20px;
  background: hsl(345, 6%, 13%);
  position: absolute;
  right: 0.5px;
  top: 2px;
  box-shadow: 0 5px 0 0 hsl(345, 6%, 13%), 0 10px 0 0 hsl(345, 6%, 13%);
}

.main-navigation--opened .main-navigation__toggle::before {
  content: "";
  height: 2px;
  width: 29px;
  background: hsl(345, 6%, 13%);
  position: absolute;
  right: -2px;
  top: 6px;
  transform: rotate(45deg);
}

.main-navigation--opened .main-navigation__toggle::after {
  content: "";
  height: 2px;
  width: 29px;
  background: hsl(345, 6%, 13%);
  position: absolute;
  right: -2px;
  top: 6px;
  transform: rotate(-45deg);
}

.main-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
}

// .main-navigation--nojs .site-list,
// .main-navigation--nojs .user-list {
//   position: static;
// }

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    z-index: 10;
  }

  .main-navigation--nojs {
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__toggle {
    display: none;
  }

  .main-navigation {
    box-shadow: none;
  }
}
