.pagination__toggle {
  position: relative;
  min-width: 128px;
  background-color: inherit;
  border: 1px solid #ededed;
  flex-grow: 1;
  min-height: 52px;
  padding: 0;
  cursor: pointer;
}

.pagination__arrow:hover {
  fill: rgba(0, 0, 0, 0.6);
}

.pagination__arrow:active {
  fill: rgba(0, 0, 0, 0.3);
}

@media (min-width: $tablet-width) {
  .pagination__toggle {
    border: none;
    min-width: 87px;
    height: 30px;
  }
}
