.prodact-list__inner {
  background-color: rgba(241, 241, 241, 1);
}

.prodact-list__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0 auto;
  padding-top: 73px;
  padding-bottom: 73px;
  text-align: center;
  max-width: 1150px;
}

@media (min-width: $tablet-width) {
  .prodact-list__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 101px;
    padding-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .prodact-list__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 102px;
    padding-bottom: 95px;
  }
}

.prodact-list__wrapper {
  padding: 30px;
  max-width: 1050px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .prodact-list__wrapper {
    padding: 50px;
  }
}

.prodact-list__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-column: auto;
  row-gap: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .prodact-list__list {
    row-gap: 54px;
  }
}

@media (min-width: $desktop-width) {
  .prodact-list__list {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 52px;
    margin-bottom: 52px;
  }
}

@media (min-width: $tablet-width) {
  .prodact-list__item {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .prodact-list__item {
    flex-direction: column;
  }
}

@media (min-width: $tablet-width) {
  .prodact-list__link {
    flex-grow: 1;
  }
}

@media (min-width: $tablet-width) {
  .prodact-list__item-description {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.prodact-list__link-name {
  text-decoration: none;
}

.prodact-list__product-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

@media (min-width: $tablet-width) {
  .prodact-list__product-name {
    font-size: 20px;
  }
}


.prodact-list__data {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
}

@media (min-width: $tablet-width) {
  .prodact-list__data {
    font-size: 15px;
  }
}

.prodact-list__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .prodact-list__price {
    font-size: 17px;
  }
}
