.promo {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

@media (min-width: $desktop-width) {
  .promo {
    grid-template-columns: 2fr 1fr;
  }
}

.promo__icon {
  position: absolute;
  left: 80px;
  top: 36px;
}

@media (min-width: $tablet-width) {
  .promo__screen-icon {
    position: absolute;
    top: 190px;
    left: 42px;
  }
}

.promo__title {
  color: #000000;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  font-family: inherit;
  margin-top: 21px;
  margin-left: 91px;
  margin-bottom: 26px;
}

@media (min-width: $tablet-width) {
  .promo__title {
    font-size: 20px;
    grid-row: 2/3;
  }
}

@media (min-width: $desktop-width) {
  .promo__title {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.promo__screen {
  position: relative;
  margin-top: 25px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  cursor: pointer;
}

.promo__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: rgba(68, 68, 68, 1);
}

@media (min-width: $tablet-width) {
  .promo__description {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .promo__description {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.promo__form-link {
  font-size: 18px;
  line-height: 16px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo__form-link {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .promo__form-link {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
