.reviews {
  position: relative;
  margin: 0 auto;
}

.reviews-inner {
  max-width: 1050px;
  background-image: url("/source/img/review2.jpg");
  position: relative;
  background-repeat: no-repeat;
}

@media (min-width: $desktop-width) {
  .reviews-inner {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.reviews__wrapper {
  padding: 30px 30px 50px 30px;
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    padding: 78px 0 174px 163px;
  }
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 83px 50px 105px 50px;
  }
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  margin: 0;
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .reviews__title {
    order: 0;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}

@media (min-width: $tablet-width) {
  .reviews__list {
    order: 2;
    margin-top: 39px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__list {
    margin-top: 0;
  }
}

.reviews__item {
  margin: 0;
}

@media (min-width: $desktop-width) {
  .reviews__item {
    margin-top: 35px;
  }
}

.reviews__text {
  margin: 40px 0 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  align-items: center;
  color: rgba(68, 68, 68, 1);
}

@media (min-width: $desktop-width) {
  .reviews__text {
    margin-bottom: 46px;
  }
}

@media (min-width: $tablet-width) {
  .reviews__text {
    font-size: 17px;
    margin-bottom: 61px;
  }
}

@media (min-width: $tablet-width) {
  .reviews__author-contacts {
    display: flex;
    flex-direction: column;
    width: 493px;
  }
}

.reviews__author-name {
  display: block;
  margin-bottom: 3px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
}

@media (min-width: $desktop-width) {
  .reviews__author-name {
    font-size: 17px;
  }
}

@media (min-width: $tablet-width) {
  .reviews__author-name {
    margin: 0;
    font-size: 18px;
  }
}

.reviews__author-nickname {
  font-size: 17px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .reviews__author-nickname {
    margin-bottom: -10px;
  }
}

.reviews__pagination {
  display: flex;
  margin: 0 auto;
  margin-bottom: 38px;
  max-width: 260px;
}

@media (min-width: $tablet-width) {
  .reviews__pagination {
    margin: 0;
  }
}

.reviews__button {
  padding: 16px 26px 16px 26px;
  max-width: 175px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .reviews__button {
    order: 1;
    font-size: 17px;
    max-width: 121px;
    padding: 14px 26px;
    margin: 0;
  }
}
