
.site-list__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    position: absolute;
    min-height: 24px;
    justify-content: flex-end;
    left: 0;
    bottom: -53px;
  }

  .site-list__link {
    padding: 22px 35px 22px 0;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: 0;
  }
}
