.site-list__item {
  padding-top: 28px;
  padding-left: 76px;
  padding-bottom: 26px;
}

.site-list__item:hover {
  opacity: 0.6;
}

.site-list__item:active {
  opacity: 0.3;
}

.site-list__link {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  display: inline;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    order: 2;
    margin: 0;
    padding-left: 50px;
    position: relative;
  }

  .site-list__link {
    font-size: 15px;
  }

  .site-list__item {
    padding: 0;
    min-width: 150px;
    margin-top: 20.5px;
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .site-list__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    padding-top: 0;
    order: 0;
  }

  .site-list__item {
    max-width: 200px;
    margin-top: 32.5px;
    margin-bottom: 31.5px;
    margin-right: 0;
  }

  .site-list__link {
    padding-top: 32.5px;
    padding-bottom: 34px;
    font-size: 17px;
    line-height: 24px;
  }

  .site-list__item:nth-child(2n+1) .site-list__link {
    padding-right: 35px;
  }

  .site-list__item:nth-child(2n+1) .site-list__link::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background-color: rgb(0, 0, 0, 0.1);
    right: 0;
    top: 0;
  }


  .site-list__item:nth-child(2n) .site-list__link {
    padding-left: 35px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-navigation--closed .site-list__item {
    display: none;
  }

  .site-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .site-list__item {
    box-sizing: border-box;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
  }
}
