.social {
  display: flex;
  padding: 25px 0;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin: 0 20px;
}

.social__icon {
  fill: rgba(35, 31, 32, 1);
}

.social__icon:active {
  opacity: 0.5;
}

.social__icon:hover {
  fill: rgba(70, 193, 174, 1);
}
